################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XamarinFormsApp/.vs/XamarinFormsApp/v15/Server/sqlite3
